
build/tkinter_PC/Tree-02.toc
build/tkinter_test/EXE-00.toc
dist/log_getCM.txt
*.txt
dist/PC_监控程序资源.exe
__pycache__/get_all_data.cpython-37.pyc
*.pyc
*.pyc
__pycache__/get_cpu_memory_Threads.cpython-37.pyc
build/tkinter_PC/PYZ-00.toc
*.pyz
build/tkinter_PC/Analysis-00.toc
build/tkinter_PC/base_library.zip
build/tkinter_PC/EXE-00.toc
*.pkg
build/tkinter_PC/PKG-00.toc
build/tkinter_PC/tkinter_PC.exe.manifest
build/tkinter_PC/Tree-00.toc
build/tkinter_PC/Tree-01.toc
build/tkinter_PC/xref-tkinter_PC.html
dist/tkinter_PC.exe
tkinter_PC.spec
*.spec
tkinter_PC.spec
tkinter_PC.spec
*.spec
